<div class="row">
	<div class="right-side">
		<section class="left-side-container">
			<div class="col-md-9 slide-top">
				<div class="main-section-page">
					<h1 class="title primary-font global-main-title">{{resumeData.workExperience.text}}</h1>
					<div class="info-content" ng-repeat="work in resumeData.workExperience.data">
						<h3 class="title">{{work.organizationName}}</h3>
						<h4 class="second-title">{{work.designation}}
						<br>
						{{work.duration}}</h4>
						<p>
							<span>{{resumeData.workExperience.location}} </span><span>{{work.location}}</span>
						</p>
						<p>
							{{work.description}}
						</p>
					</div>
				</div>
				
				<div class="main-section-page">
					<h1 class="title primary-font global-main-title">{{resumeData.education.text}}</h1>
					<div class="info-content" ng-repeat="education in resumeData.education.data">
						<h3 class="title">{{education.stream}}</h3>
						<h4 class="second-title">{{education.DegreeType}}
						<br>
						{{education.duration}}</h4>
						<p>
							{{education.description}}
						</p>
					</div>
				</div>
			</div>
		</section>

		<aside class="right-side-container">
			<div class="col-md-3 slide-top">
				<div class="main-section-page">
					<h3 class="title global-main-title"> {{resumeData.skills.text}} </h3>
					<div ng-repeat="skill in resumeData.skills.data">
						<slider-technology name="skill.name" percentage="skill.percentage"></slider-technology>
					</div>
				</div>
			</div>
		</aside>
	</div>
</div>