<div class="row">
	<div class="right-side">
		<section class="left-side-container">
			<div class="col-md-12 slide-top">
				<div class="main-section-page">
					<h1 class="title primary-font global-main-title">{{blogsData.blogs.text}}</h1>
					<div class="info-content" ng-repeat="blog in blogsData.blogs.data">
						<h3 class="title float-left"> {{blog.title}} </h3>
						<button class="primary float-right shadow-none" ng-click="openBlogInOtherTab(blog.link)">
							Click here to read Blog
						</button>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>