@charset "utf-8";
/* CSS Document */
body
{
	background-image:url(../Images/background-image.gif);
	background-repeat:no-repeat;
	background-attachment:fixed;
}
#Groupchat
{
	border-top:2px solid white!important;
}
#Rapid-Transit
{
	border-bottom:2px solid white!important;
}
#Facebookli
{
	border-top:2px solid white!important;
}
#PersonalE-mailli
{
	border-bottom:2px solid white!important;
}
.edutabdiv
{
	//border:1px solid black;
	margin:15px;
	background-color:white;
	height:auto;
	color:#3399CC;
	padding:5px;
}
#leftsidedivtopright1down
{
	padding: 10px;
	//border:1px solid black;
	position:relative;
	height:auto;
    //width:200px;
	margin-top: 542px;
	margin-left:18px;
	background-color:white;
	color:#3399CC;
}
/*.menuliclass:hover
{
	color:#3399CC!important;
	background-color:white !important;
}*/
.newclasschangecolorli
{
	background-color:lightblue!important;
	color:white!important;
	border-bottom:1px solid lightblue!important;
}
.newclasschangecolorli:hover
{
	background-color:white!important;
	color:#3399CC!important;
	cursor:pointer!important;
}
.allcentertopleft
{
	//border:1px solid black;
	border-radius:15px;
	color:white;
	height:30px;
	padding-top:5px;
	text-align:center;
	background: rgb(179,220,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(179,220,237,1) 20%, rgba(41,184,229,1) 61%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(179,220,237,1)), color-stop(61%,rgba(41,184,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=0 ); /* IE6-9 */
}
.mainbackgrounddiv
{
	width:800px;
	height:1100px;
	position:relative;
	left:20%;
	border-radius:20px;
	background-color:white;
	overflow:hidden;
	z-index:10;
}
#containgtextheader
{
	//border:1px solid black;
	position:relative;
	height:50px;
	width:300px;
	z-index:234;
	top:40px;
	left:50px;
	font-family:"Times New Roman", Times, serif;
	font-size:36px;
	color:white;
}
#headerdiv
{
	height:150px;
	background: rgb(42,176,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(42,176,237,1) 4%, rgba(159,216,239,1) 42%, rgba(191,232,249,1) 70%, rgba(228,245,252,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(42,176,237,1)), color-stop(42%,rgba(159,216,239,1)), color-stop(70%,rgba(191,232,249,1)), color-stop(100%,rgba(228,245,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(42,176,237,1) 4%,rgba(159,216,239,1) 42%,rgba(191,232,249,1) 70%,rgba(228,245,252,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(42,176,237,1) 4%,rgba(159,216,239,1) 42%,rgba(191,232,249,1) 70%,rgba(228,245,252,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(42,176,237,1) 4%,rgba(159,216,239,1) 42%,rgba(191,232,249,1) 70%,rgba(228,245,252,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(42,176,237,1) 4%,rgba(159,216,239,1) 42%,rgba(191,232,249,1) 70%,rgba(228,245,252,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab0ed', endColorstr='#e4f5fc',GradientType=0 ); /* IE6-9 */
}
#navigationbar
{
	height:40px;
	//background-color:#99CCFF;
	position:relative;
	top:60px;
}
/*
#li0
{
	background-color:lightblue;
	border-bottom:1px solid lightblue;
}
*/
#navigationbar ul
{
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
	padding-left:25px;
	padding-top:8px;
	border-bottom: solid 5px lightblue;
}
#navigationbar li
{
	display:inline;
	overflow:hidden;
	font-size:x-large;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:2px;
}
#loginsectionadmin
{
	//border:5px solid #0CF;
	padding:15px;
	top:46px!important;
	margin:0 auto;
	position:relative;
	width:400px;
	height:auto;
	border-radius:15px;
	background: rgb(179,220,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(179,220,237,1) 20%, rgba(41,184,229,1) 61%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(179,220,237,1)), color-stop(61%,rgba(41,184,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=0 ); /* IE6-9 */
}
#containgtextheader
{
	position:relative;
}
#footerdiv
{
	//border:1px solid black;
	position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    //background:#3399CC;
    text-align:center;
    color:white;
	background: rgb(99,182,219); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(99,182,219,1) 48%, rgba(48,157,207,1) 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,rgba(99,182,219,1)), color-stop(75%,rgba(48,157,207,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(99,182,219,1) 48%,rgba(48,157,207,1) 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(99,182,219,1) 48%,rgba(48,157,207,1) 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(99,182,219,1) 48%,rgba(48,157,207,1) 75%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(99,182,219,1) 48%,rgba(48,157,207,1) 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */
}
.maintabs
{
	background-color:#3399CC;
	color:white;
}
li.maintabs:hover
{
	background-color:white;
	color:#3399CC;
	cursor:pointer;
}
.leftsidediv
{
	//border:1px solid black;
	background: rgb(179,220,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(179,220,237,1) 20%, rgba(41,184,229,1) 61%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(179,220,237,1)), color-stop(61%,rgba(41,184,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=0 ); /* IE6-9 */
	height:878px;
	width:498px;
	position:relative;
}
.rightsidediv
{
	//border:1px solid black;
	width:280px;
	left:515px;
	height:878px;
	position:relative;
	top:-880px;
}
li.maintabs:focus
{
	background-color:white;
	color:#3399CC;
}
.aboutmemaindiv
{
	//border:1px solid black;
	padding-left:5px;
	position:relative;
	top:-11px!important;
	margin:10px;
	//height:auto;
	background-color:white;
	color:#3399CC;
}
.layoutindexpage
{
	//border:1px solid black;
	height:880px;
	border-radius:20px;
	overflow:hidden;
	top:20px;
	width:757px;
	position:relative;
	left:20px;
}
#leftsidedivtopright
{
	//border:1px solid black;
	position:relative;
	float:right;
	height:auto;
	width:310px;
	margin-top:18px;
	background-color:white;
	color:#3399CC;
}
#leftsidedivtopleft
{
	//border:1px solid black;
	position:relative;
	margin:18px;
	float:left;
	height:auto;
	width:150px;	
}
.sidebar
{
	//border:1px solid black;
	height:878px;
	width:240px;
	background: rgb(179,220,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(179,220,237,1) 20%, rgba(41,184,229,1) 61%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(179,220,237,1)), color-stop(61%,rgba(41,184,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=0 ); /* IE6-9 */

}
#databasesectionmainadmin
{
	padding:5px;
	//border:1px solid black;
	border-radius:15px;
	margin:20px;
	width:760px;
	height:880px;
	//background: rgb(179,220,237); /* Old browsers */
	//background: -moz-linear-gradient(top,  rgba(179,220,237,1) 20%, rgba(41,184,229,1) 61%); /* FF3.6+ */
	//background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(179,220,237,1)), color-stop(61%,rgba(41,184,229,1))); /* Chrome,Safari4+ */
	//background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Chrome10+,Safari5.1+ */
	//background: -o-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Opera 11.10+ */
	//background: -ms-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* IE10+ */
	//background: linear-gradient(to bottom,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=0 ); /* IE6-9 */

}
.bothdatabasesectionmainadmin
{
	//border:1px solid black;
	margin:8px;
	height:431px;
}
#upperleftdivdatabasesection
{
	float:left;
	border-top-left-radius:15px;
}
#upperrightdivdatabasesection
{
	float:right;
	border-top-right-radius:15px;
}
.bothupperdivdatabasesection
{
	//border:1px solid black;
	//margin:5px;
	width:366px;
	height:430px;
	background: rgb(179,220,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(179,220,237,1) 20%, rgba(41,184,229,1) 61%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(179,220,237,1)), color-stop(61%,rgba(41,184,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=0 ); /* IE6-9 */
}
#lowerleftdivdatabasesection
{
	float:left;
}
#lowerrightdivdatabasesection
{
	float:right;
}
.bothlowerdivdatabasesection
{
	//border:1px solid black;
	//margin:5px;
	width:366px;
	height:430px;
	background: rgb(179,220,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(179,220,237,1) 20%, rgba(41,184,229,1) 61%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(179,220,237,1)), color-stop(61%,rgba(41,184,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=0 ); /* IE6-9 */
}
#onedivlowerdivdatabasesection
{
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
#admin-database
{
	//border:1px solid black;
	width:780px;
	height:25px;
	margin:5px;
}
.userdivadmin
{
	//border:1px solid black;
	border-radius:15px;
	margin:5px;
	height:auto;
	margin:0 auto;
	width:740px;
	padding:10px;
	background: rgb(179,220,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(179,220,237,1) 20%, rgba(41,184,229,1) 61%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(179,220,237,1)), color-stop(61%,rgba(41,184,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(179,220,237,1) 20%,rgba(41,184,229,1) 61%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=0 ); /* IE6-9 */
}
#main-contact-div-id
{
	//border:1px solid black;
	margin:15px;
	position:relative;
	color:white;
	//background-color:white;
	top:-15px!important;
}
.sidebarallheadings
{
	height:37px;
	//border:1px solid black;
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 100%, #2989d8 100%, #207cca 100%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#7db9e8), color-stop(100%,#2989d8), color-stop(100%,#207cca), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7db9e8 100%,#2989d8 100%,#207cca 100%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7db9e8 100%,#2989d8 100%,#207cca 100%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7db9e8 100%,#2989d8 100%,#207cca 100%,#1e5799 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7db9e8 100%,#2989d8 100%,#207cca 100%,#1e5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}
.ulsidebarall
{
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
.ulsidebarall li
{
	text-align:center;
	//padding-left: 50px;
	background-repeat: no-repeat;
	background-position: 0 .5em;
	color:white;
	border-top:1px solid white;
	border-bottom:1px solid white;
}
.ulsidebarall li:hover
{
	background-color:#7db9e8;
	cursor:pointer;
}
.projdesc
{
	//border:1px solid black;
	margin:10px;
	height:auto;
	background-color:white;
	color:#3399CC;
}
.linksdivclass
{
	//border:1px solid black;
	margin:10px;
	height:100px;
	background-color:white;
	color:#3399CC;
}
#messagelinkdivfom
{
	padding-left:40px;
}